*.o
*.a
*.swp
Makefile
Makefile.in
.deps/
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
config/
install/
libtool
flint/mstflint
mlxconfig/mstconfig
mstdump/crd_main/mstregdump
mstflint.spec
small_utils/mstmcra
small_utils/mstmread
small_utils/mstmtserver
small_utils/mstmwrite
small_utils/mstvpd
small_utils/mstvpd
stamp-h1
